@import "tailwindcss";

:root {
  --background: #05060a;
  --foreground: #e5e7eb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
